<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly"/>
    <compilation/>
  </system.web>
  <appSettings>
    <!--
      LIVE EMAIL:  healthcare@ringsidemd.ca
      TESTING/DEBUG EMAIL: zane@bitflowtech.com
    -->
    <add key="MailSubmissionsTo" value="zane@bitflowtech.com"/>
    <add key="smtp_server" value="smtp.sendgrid.net"/>
    <add key="smtp_login" value="sky-sendmail2"/>
    <add key="smtp_password" value="!sky-sendmail1!"/>

    <add key="gcaptcha_secret_key" value="6LdUJjEUAAAAAB847ecfQ2DYD3hfQ_7wKXTl0env"/>
    <add key="gcaptcha_publicsite_key" value="6LdUJjEUAAAAANTqdFiUCbEg5QJTWXPpRPEt-1rp"/>
    
  </appSettings>
</configuration>